h4 {
  text-align: center;
}

#content-contact {
  text-align: center;
}

#content-professional {
  text-align: left;
}

#content-summary {
  text-align: center;
}

#header {
  position: fixed;
  z-index: 1;
  height:30px;
  width: 98%;
  background-color: #668284;
  margin-bottom: 10px;
}

#name {
  float: left;
}
