div {
  border-radius: 10px;
}

body {
	font-family: arial;
}

h3 {
text-align: center;
font-size: 1.4em;
font-weight:bold;
font-variant: small-caps;
background-color:#EEE;
border: 1px solid #999;
letter-spacing: .04em;
border-radius: 5px
}

#content-professional {
  text-align: left;
}

#content-summary {
  text-align: center;
}

#content-references {
  text-align: center;
}

#header {
  position: fixed;
  z-index: 1;
  height: 40px;
  margin-top: -10px;
  width: 1503px;
  background-color: #B9D7D9;
  margin-bottom: 10px;
}

#name {
  	float: left;
  	margin-left: 5px;
	font-family: verdana;
	color: #ffffff;
}

#email {
	float:right;
	margin-right: 5px;
	padding-bottom: 5px;
	font-family: verdana;
	color: #ffffff;
}

.left {
  float: left;
  margin-top: 40px;
  width: 10%;
  height: 1350px;
  background-color: #B9D7D9;
}

.right {
  float: right;
  margin-top: 40px;
  width: 88%;
  height: 1350px;
  background-color: #F4EBC3;
}

#pic {
	float: right;
	border-radius: 10px;
	height: 17%;
	width: 17%;
	border: 7px solid #EEE;
	margin-top: -38px;
}

.date {
	float: right;
	font-weight: bold;
}

#container {
	width: 800px;
	margin: auto;
}

h4 {
	border-bottom: 1px solid #999;
	font-weight: bold;
	font-size: 1.1em;
}

#content-education {
	text-align: center;
}

ul {
	list-style-type: square;
}

#content-contact {
	line-height: .03em;
	text-align: left;
	font-size: 1.9em;
}

#content-info {
	text-align: left;
	font-size: 1.3em;
}

#content-qualify {
  text-align: left;
}
